@font-face {
  font-family: main;
  src: url("./styles/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: main_bold;
  src: url("./styles/montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg {
  padding: 0;
  margin: 0;
}
